<h1>Editing Specialization</h1>

<%= render 'form', specialization: @specialization %>

<div class="mb-4 mt-2"> 
  <%= link_to 'Show', @specialization, class: "btn btn-success btn-sm" %> |
  <%= link_to 'Back', specializations_path, class: "btn btn-secondary btn-sm" %>
</div>
