<h1>Editing Patient</h1>

<%= render 'form', patient: @patient %>

<div class="mb-4 mt-2"> 
  <%= link_to 'Show', @patient, class: "btn btn-success btn-sm" %> |
  <%= link_to 'Back', patients_path, class: "btn btn-info btn-sm" %>
</div>
