<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <footer class="page-footer font-small special-color-light pt-2" >
    <div class="container text-center">
      <copyright>
        &copy; Copyright <%= Time.now.year %> DoctorAppointment
      </copyright>
    </div>
  </footer>
</nav>
